<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="robots" content="noindex, nofollow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="icon" type="image/png" href="/favicon.png">
		<title>Travy</title>
	</head>
	<body>
		<!-- <script src="http://localhost:3000{{htmlWebpackPlugin.files.js}}"></script> -->
		<script src="<%= htmlWebpackPlugin.files.js %>"></script>
	</body>
</html>
