@import "~normalize.css/normalize";
@import "transitions";
@import "element-ui";

body {
	font-family: $font1;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
}

img {
	max-width: 100%;
}

a {
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

svg {
	path {
		fill: $black1;
	}
}
