@import "~element-ui/packages/theme-chalk/src/common/var";

$font1: "Helvetica Neue", Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;


// colors
$black1: #1E2D3E;
$white1: #ffffff;
$white2: #F9FAFC;
$blue1: #334056;
$blue2: #E0E6ED;
$blue3: #C0CCDA;
$blue4: #5E6D82;
$blue5: #20A0FF;


// settings
$width: 1440px;
$fieldMargin: 1.25em;


// built-in colors
$primary: $--color-primary;
$danger: $--color-danger;
$warning: $--color-warning;
$info: $--color-info;
$success: $--color-success;


// utils
@mixin res($width, $dir: max) {
	@media (#{$dir}-width: #{$width} + "px") {@content}
}

@function em($pixels) {
	@return #{$pixels/16}em;
}

@function cubic($property, $time: 0.1s) {
	@return $property $time cubic-bezier(0.645, 0.045, 0.355, 1);
};
