@import "~normalize.css/normalize";
@import "var";
@import "transitions";
@import "element-ui";

body {
	font-family: "Helvetica Neue", Helvetica;
	-webkit-font-smoothing: antialiased;
	max-width: $width;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

a {
	cursor: pointer;
}

svg {
	path {
		fill: $black1;
	}
}
